<p id="notice"><%= notice %></p>

<h2 style='padding: 5px;background-color: lightgray;' >Job Postings</h2>


<table id='job_posting_table'>
  <thead>
    <tr>
      <th>Date Posted</th>
      <th>Poster</th>
      <th>Category</th>
      <th>Location</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.created_at.strftime("%b %e, %Y") %></td>
        <td><%= job.user.fullname %></td>
        <td><%= job.category.name %></td>
        <td><%= job.location %></td>
        <td><%= job.status.name %></td>

        <td class='posting_action'><%= link_to 'Show | ', job %>
            <%= link_to 'Edit |', edit_job_path(job) %>
            <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="<%= new_job_path %>"><button class="job_action">Add Job</button></a>
